<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net471" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net471" />
  <package id="Talentsoft.BuildTools" version="4.1.1" targetFramework="net471" />
  <package id="Talentsoft.ProjectValidator" version="3.3.0" targetFramework="net471" />
  <package id="TalentSoft-CodingRules-Settings-Solution" version="2.4.1" targetFramework="net471" developmentDependency="true" />
</packages>